<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--<add key="linqDB" value="Data Source = TMBSQLTEST; Initial Catalog=sqltracerdev;Persist Security Info=True;User ID=usr_LIST;Password=lst#0818; Connection Timeout=60;"/>
    <add key="DbConnectionA" value="Data Source = PIERCE; Initial Catalog=ARO_DEV01;Persist Security Info=True;  User ID=usr_ARO; Password=kdln#57f; Connection Timeout=600;"/>-->

    <add key="linqDB" value="Data Source = TMBSQLPROD; Initial Catalog=sqltracer;   Persist Security Info=True;User ID=IUSR_TMBSQLPROD;Password=tmb#061009; Connection Timeout=1800;" />
    <add key="DbConnectionA" value="Data Source = WEBSQLPROD; Initial Catalog=ARO_PROD01;Persist Security Info=True;   User ID=usr_ARO;Password=kdln#57f; Connection Timeout=600;" />


    <!--<add key="logPath" value="C:\danc\2010projects\202Renew\processRenewApps\bin\Debug\log\"/>-->
    <!--<add key="logPath" value="C:\CS_Jobs\processRenewApps\log\"/>-->
    <add key="logPath" value="\\tmbsqlprod\c$\CS_Jobs\processRenewApps\log\"/>

    <!--<add key="mode" value="DEV" />-->
    <add key="mode" value="PROD" />

    <!--<add key="BUILD_MODE" value="DEV" />-->
    <add key="BUILD_MODE" value="PROD" />

    <add key="SHARED_ASSEMBLY_RESOLVER_TRACE" value="false" />
    <!--<add key="SHARED_ASSEMBLY_RESOLVER_TRACE" value="true" />-->


  </appSettings>
</configuration>